---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';

import Features3 from '~/components/widgets/Features3.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'DVExplorers',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="NASA APP DEVELOPMENT CHALLENGE 2024"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'GitHub',
        href: 'https://github.com/aiworld2020/dvexplorers-2024',
        icon: 'tabler:brand-github-filled',
      },
      { text: 'Blog', href: 'blog' },
    ]}
  >
    <Fragment slot="title">
      We're the <span class="">DVExplorers</span>.
    </Fragment>

    <Fragment slot="subtitle">
      Competing in the <a href="https://www.nasa.gov/learning-resources/app-development-challenge/"
        ><span class="font-semibold">NASA App Development Challenge 2024</span></a
      > while exploring technology and science through learning, community engagement, and teamwork.
    </Fragment>

    <Fragment slot="image">
      <div class="relative h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/-O9yX4oE3XU?si=oicsgYdMBsOnBDHX"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
    </Fragment>
  </Hero>
  <BlogLatestPosts
    id="blog"
    title="Stay up to date with our progress."
    information={`Catch up with our developments with the app design and development progress, as well as our community outreach events. All updates will be posted here and on our Instagram.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
  <FAQs
    title="Development Overview"
    items={[
      {
        title: 'Modeling and Visualization',
        description:
          'The project involved using Python to visualize lunar terrain data by creating a heightmap, integrating Perlin noise for realism, and developing an interactive app with navigation controls and toggles for different visualization modes and information displays to aid exploration of the simulated surface.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Landing & Destination Sites',
        description: `After analyzing data on slope, access to water ice, sunlight, iron abundance, and earth visibility, the Faustini Rim A site was selected for the Artemis landing due to its proximity to permanently shadowed regions likely containing water, adequate sunlight to power the base, flat terrain, and high iron levels and earth visibility.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Path Finding',
        description:
          'The app utilizes a bidirectional A* search algorithm to efficiently calculate and display the shortest distance paths or least hill climbing paths from the Faustini Rim A landing site to the four largest nearby permanently shadowed regions, with flexibility to adjust the maximum slope threshold and compare path options.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Technologies & Skills',
        description: `The inexperienced team explored unfamiliar gaming engines Unity and Ursina, deciding on Ursina for its coding simplicity, also leveraging Python for data analysis and pathfinding algorithms, overcoming initial gaps by dividing across computation, visualization, and optimization focus areas.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>
  <Features3
    title="Connect With Us"
    subtitle="Follow us on our social media platforms and stay up to date with our progress and outreach events."
    columns={4}
    items={[
      {
        title: 'Instagram',
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: '@dvexplorers',
          href: 'https://www.instagram.com/dvexplorers/',
          variant: 'link',
        },
      },
      {
        title: 'GitHub',
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'NASA ADC 2024',
          href: 'https://github.com/aiworld2020/dvexplorers-2024',
          variant: 'link',
        },
      },
      {
        title: 'Blog',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Blog Posts',
          href: '/blog',
          variant: 'link',
        },
      },
      {
        title: 'YouTube',
        icon: 'tabler:brand-youtube',
        callToAction: {
          target: '_blank',
          text: 'Media',
          href: '/media',
          variant: 'link',
        },
      },
    ]}
  />
</Layout>
