---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

const metadata = {
  title: 'DVExplorers',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="NASA APP DEVELOPMENT CHALLENGE 2024"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'GitHub',
        href: 'https://github.com/aiworld2020/nasa-adc-2023',
        icon: 'tabler:brand-github-filled',
      },
      { text: 'Blog', href: 'blog' },
    ]}
  >
    <Fragment slot="title">
      We're the <span class="">DVExplorers</span>.
    </Fragment>

    <Fragment slot="subtitle">
      Competing in the <a href="https://www.nasa.gov/learning-resources/app-development-challenge/"
        ><span class="font-semibold">NASA App Development Challenge 2024</span></a
      > while exploring technology and science through learning, community engagement, and teamwork.
    </Fragment>

    <Fragment slot="image">
      <div class="relative h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/-O9yX4oE3XU?si=oicsgYdMBsOnBDHX"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
    </Fragment>
  </Hero>
  <Features3
    title="Connect With Us"
    subtitle="Follow us on our social media platforms and stay up to date with our progress."
    columns={4}
    items={[
      {
        title: 'Instagram',
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: '@dvexplorers',
          href: 'https://www.instagram.com/dvexplorers/',
          variant: 'link',
        },
      },
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'contact@dvexplorers.codes',
          href: 'mailto:contact@dvexplorers.codes',
          variant: 'link',
        },
      },
      {
        title: 'GitHub',
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'NASA ADC 2024',
          href: 'https://github.com/aiworld2020/nasa-adc-2023',
          variant: 'link',
        },
      },
      {
        title: 'Blog',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Blog Posts',
          href: '/blog',
          variant: 'link',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->
  <CallToAction
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Visit Blog',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">Development Preview Here</Fragment>

    <Fragment slot="subtitle">Change Later.</Fragment>
  </CallToAction>
  <CallToAction
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Visit Blog',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">Blog Preview Here</Fragment>

    <Fragment slot="subtitle">Change Later.</Fragment>
  </CallToAction>
</Layout>
